.txt_secondaryLatch {
    background-color: #abaaaa;
    background-image: url("../images/bunwarmer/aw_secondaryLatch.jpg");
    background-repeat: no-repeat;
    background-size: 48vw auto;
    border-bottom: 0.25vw solid #979797;
    color: #fff;
    font-size: 4vw;
    height: 45vw;
    padding-left: 56vw;
    padding-right: 7vw;
    padding-top: 12vw;
}
.txt_primaryLatch {
    background-color: #abaaaa;
    background-image: url("../images/bunwarmer/aw_primaryLatch.jpg");
    background-repeat: no-repeat;
    background-size: 48vw auto;
    color: #fff;
    font-size: 4vw;
    height: 45vw;
    padding-left: 56vw;
    padding-right: 7vw;
    padding-top: 9vw;
}
.ss_cookingprograms {
    width: 100%;
}
.secondIcon {
    position: absolute;
    width: 7vw;
    height: 7vw;
    margin-left: -31vw;
    margin-top: 16vw;
}
.secondIcon2 {
    position: absolute;
    width: 7vw;
    height: 7vw;
    margin-left: -31vw;
    margin-top: 18vw;
}
.secondIcon .positionBackground, .secondIcon2 .positionBackground {
    width: 8vw;
    height: 8vw;
    margin-left: 0vw;
    padding: 0;
    background-position: center center;
}
.secondIcon .contentIconBorder, .secondIcon2 .contentIconBorder {
    padding: 7vw;
    background-size: 8vw 8vw;
    background-position: center center;
    background-repeat: no-repeat;
}