.header {
    font-size: 3vw !important;
    line-height: 4.5vw !important;
}
.manual .btnCappuccino {
    background-image: url("../images/espressocappuccinomachine/aw_btnCappuccino.svg");
}
.manual .btnLeftEspresso {
    background-image: url("../images/espressocappuccinomachine/aw_btnEspresso.svg");
}
.manual .btnLeftRistretto {
    background-image: url("../images/espressocappuccinomachine/aw_btnRistretto.svg");
}
.manual .btnRightEspresso {
    background-image: url("../images/espressocappuccinomachine/aw_btnEspresso.svg");
}
.manual .btnRightRistretto {
    background-image: url("../images/espressocappuccinomachine/aw_btnRistretto.svg");
}
.manual .btnClean {
    background-image: url("../images/espressocappuccinomachine/aw_btnClean.svg");
}
.manual .btnFroth {
    background-image: url("../images/espressocappuccinomachine/aw_btnFroth.svg");
}
.txt_btnText.buttonOnOff {
    height: 142vw;
}
.secondIcon {
    position: absolute;
    width: 7vw;
    height: 7vw;
    margin-left: -31vw;
    margin-top: 17vw;
}
.secondIcon .aw_btnButtonOnOffGreen {
    min-height: 24vw;
    background-size: 15vw auto;
    background-repeat: no-repeat;
    padding: 7.5vw;
    margin-left: 10vw;
}
.thirdIcon {
    position: absolute;
    width: 7vw;
    height: 7vw;
    margin-left: -31vw;
    margin-top: 33vw;
}
.thirdIcon .aw_btnButtonOnOffAmber {
    min-height: 24vw;
    background-size: 15vw auto;
    background-repeat: no-repeat;
    padding: 7.5vw;
    margin-left: 10vw;
}
.txt_contentStep.threeIcons {
    min-height: 57vw;
}
.manual .device {
    position: absolute;
    width: 7vw;
    height: 7vw;
    margin-left: -21vw;
    margin-top: 0.5vw;
    font-size: 3.6vw;
    line-height: 3.6vw;
}
.manual .yellownote {
    margin-bottom: 2vw;

}
.manual .btn_cateringFunctions {
    background-color: #000;
    background-image: url(../images/espressocappuccinomachine/aw_btnCateringFunctions.svg);
    background-position: center 5vw;
    background-repeat: no-repeat;
    background-size: 15vw auto;
    border-right: 0.25vw solid #979797;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 3vw;
    height: 30vw;
    padding-top: 22vw;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    border-bottom: 0.25vw solid #979797;
}
.manual .btn_rinsingCleaningSupplementaryFunctions {
    background-color: #000;
    background-image: url(../images/espressocappuccinomachine/aw_btnRinsingCleaningSuppFunctions.svg);
    background-position: center 4vw;
    background-repeat: no-repeat;
    background-size: 11vw auto;
    border-bottom: 0.25vw solid #979797;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 3vw;
    height: 30vw;
    padding-top: 20vw;
    padding-bottom: 2vw;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}
.manual .btn_componentRemovalAndDisassembly {
    background-color: #000;
    background-image: url(../images/espressocappuccinomachine/aw_btnComponentRemovalAndDisassembly.svg);
    background-position: center 3.5vw;
    background-repeat: no-repeat;
    background-size: 15vw auto;
    border-right: 0.25vw solid #979797;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 3vw;
    height: 30vw;
    padding-top: 20vw;
    padding-bottom: 2vw;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    border-bottom: 0.25vw solid #979797;
}
.aw_btnButtonEspressoLeft {
    background-image: url("../images/espressocappuccinomachine/aw_btnEspresso.svg");
}
.aw_btnButtonCappucino {
    background-image: url("../images/espressocappuccinomachine/aw_btnCappuccino.svg");
}
.aw_btnButtonRistrettoLeft {
    background-image: url("../images/espressocappuccinomachine/aw_btnRistretto.svg");
}

.aw_btnButtonFroth {
    background-image: url("../images/espressocappuccinomachine/aw_btnFroth.svg");
    /*background-position: 10vw 6vw !important;*/
}
.aw_btnButtonClean {
    background-image: url("../images/espressocappuccinomachine/aw_btnClean.svg");
}
.component .item .nr {
    position: absolute;
    width: 6vw;
    height: 6vw;
    text-align: center;
    line-height: 6vw;
    border-radius: 6vw;
    background: #00a6eb;
    z-index: 10;
}
.phfm_01{
    left: 42vw;
    top: 0vw;
}
.fm_01{
    left: 16vw;
    top: 11vw;
}
.fm_02{
    left: 38vw;
    top: 20vw;
}
.ft_01{
    left: 16vw;
    top: 8vw;
}
.ft_02{
    left: 63vw;
    top: 4vw;
}
.ft_03{
    left: 63vw;
    top: 16vw;
}
.ft_04{
    left: 60vw;
    top: 32vw;
}
.lfm_01_1{
    left: 8vw;
    top: 24vw;
}
.lfm_01_2{
    left: 8vw;
    top: 74vw;
}
.lfm_02{
    left: 63vw;
    top: 16vw;
}
.lfm_03{
    left: 63vw;
    top: 60vw;
}
.fwd_01{
    left: 58vw;
    top: 18vw;
}
.fwd_02{
    left: 60vw;
    top: 32vw;
}
.fwd_03{
    left: 62vw;
    top: 47vw;
}
.fwd_04{
    left: 64vw;
    top: 63vw;
}
.fwd_05{
    left: 54vw;
    top: 66vw;
}
.fwd_06{
    left: 54vw;
    top: 73vw;
}
.fwd_07{
    left: 52vw;
    top: 52vw;
}
/*.manual .btn_basicOperations, .manual .btn_quickReferenceGuide {
   float: right;
   border-right: none;
}
.manual .btn_advancedProgramming, .manual .btn_cookingPrograms {
   float: left;
   border-right: 0.25vw solid #979797;
}*/